.card {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5.21094px 5.21094px 31.2656px 5.21094px rgba(0, 0, 0, 0.08);
}

.card h2 {
    text-align: center;
}
