* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --blue: #0887FF;
    --purple: #925FE2;
    --text: rgb(67, 67, 67);
    --muted: rgb(166, 166, 166);
    font-size: 16px;
}

* {
    color: var(--text);
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    /* background: var(--blue); */
    overflow-y: hidden;
}

body {
    /* max-width: 1024px; */
    background-color: white;
    flex: 1;
    min-height: 100vh;
    display: flex;
}

main {
    flex: 1;
    max-height: 100vh;
    overflow-y: auto;
    padding: 2rem;
}

.btn {
    text-decoration: none;
    background: var(--purple);
    color: white;
    padding: 0.25rem 0.75rem;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
}

hr {
    border: none;
    height: 0;
    border-top: whitesmoke 2px solid;
    margin: 0.75rem 0;
}

small, small * {
    color: var(--muted);
}

.inline-card {
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5.21094px 5.21094px 15px 2px rgba(0, 0, 0, 0.08);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--purple);
}

input, textarea {
    border: 2px var(--blue) solid;
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
}

.btn:disabled {
    background: var(--muted);
}